/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family-inter), sans-serif;
  font-variation-settings: 'wght' 400;
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--pattern-bg-img);
  background-size: cover;
  background-attachment: fixed;
}

/* Стили header */

header {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  margin-block: 100px;
  margin-inline: clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
  padding-block: 136px 25px;
  font-family: var(--main-font-family-press);
}

@media (width <= 375px) {
  header {
    width: 100%;
    font-weight: 400;
  }
}

.header__title {
  margin-block-end: 20px;
  font-size: var(--font-size-line-height-title);
  line-height: var(--font-size-line-height-title);
}

.header__subtitle {
  margin-block-end: 25px;
  font-size: var(--font-size-line-height-subtitle);
  line-height: var(--font-size-line-height-subtitle);
}

.theme-menu__list {
  display: flex;
  gap: 14px;
  flex-direction: column;
  position: relative;
}

.theme-menu__button {
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  border: none;
  position: relative;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  inset-inline-end: 100%;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
}

.theme-menu__button:focus {
  opacity: 0.5;
  outline: none;
}

/* Стили main */

.content {
  margin-inline: clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
}


/* Стили article */

.content__article_preparation_for_work {
  font-size: 18px;
  line-height: 21.78px;
  margin-block-end: 52px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.article__wrapper {
  position: relative;
}

.article__title {
  font-variation-settings: 'wght' 700;
  text-align: left;
  font-size: inherit;
}

.wrapper__text {
  position: absolute;
  font-family: var(--main-font-family-press);
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 
    1px 0 0 var(--bg-color),
    -1px 0 0 var(--bg-color),
    0 -1px 0 var(--bg-color),
    0 1px 0 var(--bg-color);
  opacity: 0.5;
}

@supports((text-stroke: var(--wrapper-text-stroke)) or (-webkit-text-stroke: var(--wrapper-text-stroke))) {
  .wrapper__text {
      -webkit-text-stroke: var(--wrapper-text-stroke);
      text-stroke: var(--wrapper-text-stroke);
      text-shadow: none;
  }
}

.article__img {
  block-size: 100%;
  inline-size: 100%;
}

.article__paragrapf__list {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-end;
}

.article__button {
  display: flex;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  font-family: var(--main-font-family-press);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  position: relative;
}

.sparks  {
  opacity: 0;
}

/* Стили кнопки сохранить */

.button_save {
  display: flex;
  margin-inline: auto;
  gap: 3.5px;
  padding-inline: 20px;
  padding-block: 18px;
  font-family: var(--main-font-family-press);
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  margin-block-end: 100px;
  align-items: center;
}

@media (width <= 375px) {
  .button_save {
    flex-direction: column;
  }
}

.svg_floppy {
  mix-blend-mode: difference;
}

/* Общие стили кнопок в main */

.main__button {
  position: relative;
  overflow: hidden;
  color: var(--button-text-color);
}

.main__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.main__button::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  inset: 0;
  translate: -100%;
}
