/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family-inter), sans-serif;
  font-variation-settings: 'wght' 400;
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--pattern-bg-img);
  background-size: cover;
  background-attachment: fixed;
}

/* Стили header */

.header {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  margin-block: 100px;
  margin-inline: clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
  padding-block: 136px 25px;
  font-family: var(--main-font-family-press);
}

@media (width <= 375px) {
  .header {
    width: 100%;
    font-weight: 400;
  }
}

.header__title {
  margin-block-end: 20px;
  font-size: var(--font-size-line-height-title);
  line-height: var(--font-size-line-height-title);
  outline: none;
}

.header__subtitle {
  margin-block-end: 25px;
  font-size: var(--font-size-line-height-subtitle);
  line-height: var(--font-size-line-height-subtitle);
}

.theme-menu__list {
  display: flex;
  gap: 14px;
  flex-direction: column;
  position: relative;
}

.theme-menu__button {
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  border: none;
  position: relative;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  inset-inline-end: 100%;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
}

.theme-menu__button:focus {
  opacity: 0.5;
  outline: none;
}

/* Стили main */

.content {
  margin-inline: clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
}


/* Стили article */

.content__article_card {
  font-size: 18px;
  line-height: 21.78px;
  margin-block-end: 52px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.article__wrapper {
  position: relative;
}

.article__title {
  font-variation-settings: 'wght' 700;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
  padding-inline-start: 10px;
  padding-block: 3px;
}

.wrapper__text {
  position: absolute;
  font-family: var(--main-font-family-press);
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 
    1px 0 0 var(--bg-color),
    -1px 0 0 var(--bg-color),
    0 -1px 0 var(--bg-color),
    0 1px 0 var(--bg-color);
  opacity: 0.5;
  z-index: 1;
}

@supports((text-stroke: var(--wrapper-text-stroke)) or (-webkit-text-stroke: var(--wrapper-text-stroke))) {
  .wrapper__text {
      -webkit-text-stroke: var(--wrapper-text-stroke);
      text-stroke: var(--wrapper-text-stroke);
      text-shadow: none;
  }
}

.article__img {
  block-size: 100%;
  inline-size: 100%;
  min-block-size: 696px;
}

@media (width <= 375px) {
  .article__img {
    min-block-size: 375px;
  }
}

.article__paragrapf__list {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-end;
}

.article__button {
  display: flex;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  font-family: var(--main-font-family-press);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  position: relative;
  color: var(--button-text-color);
}

/* Стили сердца */

.sparks  {
  opacity: 0;
}

.like-icon .core {
  fill: var(--heart-core-color);
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
}

.like-icon .main-body {
  fill: var(--heart-main-body-color);
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
}

.like-icon:active .core {
  fill: var(--heart-core-main-color);
}

.like-icon:active .main-body {
  fill: var(--heart-core-main-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-click-color);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-click-color);
}

.like-icon.is-liked .contour {
  fill: var(--heart-click-color);
}

/* Фильтры для картинок */

.image_ermitag {
  filter: saturate(200%) contrast(150%);
}

.image_spas_na_krovi {
  filter: saturate(300%) contrast(90%);
}

.image_winter_groove {
  filter: saturate(350%) contrast(200%);
}

.image_engineering-castle {
  filter: saturate(650%) contrast(70%);
}

.image_neva_river {
  filter: hue-rotate(0.5turn) contrast(200%) saturate(50%);
}

.image_drawbridges {
  filter: saturate(450%) contrast(80%) invert(100%);
}

.image_petergof {
  filter: saturate(850%) contrast(150%);
}

.image_pushkin {
  filter: saturate(150%) contrast(200%);
}

/* Стили кнопки сохранить */

.button_save {
  display: flex;
  margin-inline: auto;
  gap: 3.5px;
  padding-inline: 20px;
  padding-block: 18px;
  font-family: var(--main-font-family-press);
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  margin-block-end: 100px;
  align-items: center;
}

@media (width <= 375px) {
  .button_save {
    flex-direction: column;
  }
}

.svg_floppy {
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

/* Стили попапа */

.button_save__dialog {
  inline-size: 375px;
  background-color: var(--bg-color);
  font-size: 14px;
  font-family: var(--main-font-family-press);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.button_save__dialog[open] {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  gap: 30px 20px;
}

.button_save__dialog[open]::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.button_save_close_popup {
  padding-block: 12.5px;
  padding-inline: 132.5px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  grid-column: 1/3;
}

.popup_text {
  width: 70%;
  line-height: 21px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .popup_text {
    width: 90%;
  }

  .button_save_close_popup {
    padding-inline: 114.5px;
  }
}


/* Общие стили кнопок в main */

.main__button {
  position: relative;
  overflow: hidden;
  color: var(--button-text-color);
}

.main__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.main__button::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  inset: 0;
  translate: -100%;
}